
<%= form_with(model: @clone, local: true,url: choose_new_or_edit) do |form| %>
  <% if @clone.errors.any? %>
    <div id="error_explanation">
      <h2><%= @clone.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @clone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>ツイートを投稿する</h2>
  <div class="clone_content">
    <%= form.label :content %><br>
    <%= form.text_area :content ,class:"textarea" %>
  </div><br>
  <%= form.submit "ツイートを投稿" %>
<% end %><br>
<%= link_to "ブログ一覧画面にもどる", clones_path %>
<footer class="footer">
   <p>Copyright © 2020 TOUTA-T.</p>
</footer>
